-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: sms_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `account_list`
--

DROP TABLE IF EXISTS `account_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `account_list` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `name` varchar(250) NOT NULL,
  `description` text DEFAULT NULL,
  `type` tinyint(1) NOT NULL DEFAULT 1 COMMENT '1=Cash, 2=Bank, 3=Mobile, 4=Credit',
  `balance` float NOT NULL DEFAULT 0,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  `created_by` int(30) DEFAULT NULL,
  `updated_by` int(30) DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_list`
--

LOCK TABLES `account_list` WRITE;
/*!40000 ALTER TABLE `account_list` DISABLE KEYS */;
INSERT INTO `account_list` VALUES (1,'Cash','Cash',1,60,1,'2026-02-09 18:47:40','2026-02-18 20:42:47',1,1,'::1'),(2,'QR Esewa','Esewa balance',3,1000,1,'2026-02-09 19:09:27','2026-02-18 20:42:47',1,1,'::1'),(3,'Credit','Credit ',4,0,1,'2026-02-09 19:09:39',NULL,1,NULL,'::1'),(5,'Bank qr','prabhu bank qr',2,600,1,'2026-02-17 18:30:18','2026-02-18 20:42:47',1,1,'::1');
/*!40000 ALTER TABLE `account_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts`
--

DROP TABLE IF EXISTS `accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `accounts` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `account_name` varchar(50) NOT NULL,
  `balance` float NOT NULL DEFAULT 0,
  `date_updated` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts`
--

LOCK TABLES `accounts` WRITE;
/*!40000 ALTER TABLE `accounts` DISABLE KEYS */;
INSERT INTO `accounts` VALUES (1,'Cash',0,'2026-02-10 17:23:59'),(2,'QR',0,'2026-02-10 17:23:59'),(3,'Bank',0,'2026-02-10 17:23:59');
/*!40000 ALTER TABLE `accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `adjustment_list`
--

DROP TABLE IF EXISTS `adjustment_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `adjustment_list` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `item_id` int(30) NOT NULL,
  `quantity` float NOT NULL,
  `type` tinyint(1) NOT NULL COMMENT '1=Addition, 2=Subtraction',
  `remarks` text DEFAULT NULL,
  `created_by` int(30) NOT NULL,
  `updated_by` int(30) DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `item_id` (`item_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `adjustment_list`
--

LOCK TABLES `adjustment_list` WRITE;
/*!40000 ALTER TABLE `adjustment_list` DISABLE KEYS */;
/*!40000 ALTER TABLE `adjustment_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `back_order_list`
--

DROP TABLE IF EXISTS `back_order_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `back_order_list` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `receiving_id` int(30) NOT NULL,
  `po_id` int(30) NOT NULL,
  `bo_code` varchar(50) NOT NULL,
  `supplier_id` int(30) NOT NULL,
  `amount` float NOT NULL,
  `discount_perc` float NOT NULL DEFAULT 0,
  `discount` float NOT NULL DEFAULT 0,
  `tax_perc` float NOT NULL DEFAULT 0,
  `tax` float NOT NULL DEFAULT 0,
  `remarks` text DEFAULT NULL,
  `status` tinyint(4) NOT NULL DEFAULT 0 COMMENT '0 = pending, 1 = partially received, 2 =received',
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `supplier_id` (`supplier_id`),
  KEY `po_id` (`po_id`),
  KEY `receiving_id` (`receiving_id`),
  CONSTRAINT `back_order_list_ibfk_1` FOREIGN KEY (`supplier_id`) REFERENCES `vendor_list` (`id`) ON DELETE CASCADE,
  CONSTRAINT `back_order_list_ibfk_2` FOREIGN KEY (`po_id`) REFERENCES `purchase_order_list` (`id`) ON DELETE CASCADE,
  CONSTRAINT `back_order_list_ibfk_3` FOREIGN KEY (`receiving_id`) REFERENCES `receiving_list` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `back_order_list`
--

LOCK TABLES `back_order_list` WRITE;
/*!40000 ALTER TABLE `back_order_list` DISABLE KEYS */;
/*!40000 ALTER TABLE `back_order_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bo_items`
--

DROP TABLE IF EXISTS `bo_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bo_items` (
  `bo_id` int(30) NOT NULL,
  `item_id` int(30) NOT NULL,
  `quantity` int(30) NOT NULL,
  `price` float NOT NULL DEFAULT 0,
  `total` float NOT NULL DEFAULT 0,
  KEY `item_id` (`item_id`),
  KEY `bo_id` (`bo_id`),
  CONSTRAINT `bo_items_ibfk_1` FOREIGN KEY (`item_id`) REFERENCES `item_list` (`id`) ON DELETE CASCADE,
  CONSTRAINT `bo_items_ibfk_2` FOREIGN KEY (`bo_id`) REFERENCES `back_order_list` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bo_items`
--

LOCK TABLES `bo_items` WRITE;
/*!40000 ALTER TABLE `bo_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `bo_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cash_denominations`
--

DROP TABLE IF EXISTS `cash_denominations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cash_denominations` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `user_id` int(30) NOT NULL,
  `updated_by` int(30) DEFAULT NULL,
  `cd_code` varchar(100) NOT NULL,
  `date` date NOT NULL DEFAULT curdate(),
  `denominations` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL COMMENT 'JSON object of note counts' CHECK (json_valid(`denominations`)),
  `total_amount` float NOT NULL,
  `account_balances` text DEFAULT NULL,
  `expected_amount` float NOT NULL,
  `difference` float NOT NULL,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  `reconciliation_status` tinyint(1) NOT NULL DEFAULT 0,
  `finalized_by` int(11) DEFAULT NULL,
  `finalized_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cash_denominations`
--

LOCK TABLES `cash_denominations` WRITE;
/*!40000 ALTER TABLE `cash_denominations` DISABLE KEYS */;
INSERT INTO `cash_denominations` VALUES (4,1,NULL,'CD-0001','2026-02-18','{\"1000\":\"0\",\"500\":\"0\",\"100\":\"0\",\"50\":\"0\",\"20\":\"0\",\"10\":\"0\",\"5\":\"0\"}',0,'{\"5\":\"600\",\"1\":\"60\",\"3\":\"0.00\",\"2\":\"1000\"}',60,0,'2026-02-18 20:43:26',NULL,0,NULL,NULL);
/*!40000 ALTER TABLE `cash_denominations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `category_list`
--

DROP TABLE IF EXISTS `category_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `category_list` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `name` varchar(250) NOT NULL,
  `description` text DEFAULT NULL,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  `created_by` int(30) DEFAULT NULL,
  `updated_by` int(30) DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `category_list`
--

LOCK TABLES `category_list` WRITE;
/*!40000 ALTER TABLE `category_list` DISABLE KEYS */;
INSERT INTO `category_list` VALUES (2,'Beer','Beer',1,'2026-02-09 18:47:57','2026-02-15 17:11:47',1,1,'::1'),(3,'Vodka','Vodka',1,'2026-02-15 17:11:09','2026-02-15 17:19:02',1,1,'::1'),(4,'Wine','Wine',1,'2026-02-15 17:11:34',NULL,1,NULL,'::1'),(6,'Rum','Rum',1,'2026-02-17 14:59:46',NULL,1,NULL,'::1');
/*!40000 ALTER TABLE `category_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_list`
--

DROP TABLE IF EXISTS `customer_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customer_list` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `name` varchar(250) NOT NULL,
  `contact` varchar(50) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `credit_limit` float NOT NULL DEFAULT 0,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  `created_by` int(30) DEFAULT NULL,
  `updated_by` int(30) DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_list`
--

LOCK TABLES `customer_list` WRITE;
/*!40000 ALTER TABLE `customer_list` DISABLE KEYS */;
INSERT INTO `customer_list` VALUES (1,'Walkin','','','',1,0,'2026-02-09 18:31:13',NULL,1,NULL,'::1'),(3,'Da junction','9841487653','aryal gaun ','mnsliquors@gmail.com',1,25000,'2026-02-15 17:47:02','2026-02-16 17:58:33',NULL,1,'::1');
/*!40000 ALTER TABLE `customer_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_account_balances`
--

DROP TABLE IF EXISTS `daily_account_balances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `daily_account_balances` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `balance_date` date NOT NULL,
  `account_id` int(30) NOT NULL,
  `account_name` varchar(250) NOT NULL,
  `balance` float NOT NULL DEFAULT 0,
  `source` varchar(50) DEFAULT 'denomination',
  `denomination_id` int(30) DEFAULT NULL,
  `date_recorded` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_date_account` (`balance_date`,`account_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_account_balances`
--

LOCK TABLES `daily_account_balances` WRITE;
/*!40000 ALTER TABLE `daily_account_balances` DISABLE KEYS */;
/*!40000 ALTER TABLE `daily_account_balances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expense_list`
--

DROP TABLE IF EXISTS `expense_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `expense_list` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `name` varchar(250) DEFAULT NULL,
  `account_id` int(30) DEFAULT NULL,
  `amount` float NOT NULL DEFAULT 0,
  `type` tinyint(1) DEFAULT 1 COMMENT '1=Personal, 2=Shop',
  `status` tinyint(1) DEFAULT 1 COMMENT '0=Pending, 1=Paid',
  `payment_status` tinyint(1) DEFAULT 0 COMMENT '0=Unpaid, 1=Paid, 2=Partial',
  `paid_amount` float DEFAULT 0,
  `balance` float DEFAULT 0,
  `remarks` text DEFAULT NULL,
  `user_id` int(30) NOT NULL,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  `created_by` int(30) DEFAULT NULL,
  `updated_by` int(30) DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `account_id` (`account_id`),
  KEY `user_id` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expense_list`
--

LOCK TABLES `expense_list` WRITE;
/*!40000 ALTER TABLE `expense_list` DISABLE KEYS */;
/*!40000 ALTER TABLE `expense_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_list`
--

DROP TABLE IF EXISTS `item_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `item_list` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `name` text NOT NULL,
  `description` text NOT NULL,
  `vendor_id` int(30) DEFAULT NULL,
  `category_id` int(30) DEFAULT NULL,
  `unit` varchar(50) NOT NULL DEFAULT 'pcs',
  `reorder_level` float NOT NULL DEFAULT 0,
  `opening_cost` decimal(12,2) DEFAULT 0.00,
  `average_cost` decimal(12,2) DEFAULT 0.00,
  `cost` float NOT NULL DEFAULT 0,
  `selling_price` float DEFAULT 0,
  `tax_type` tinyint(1) DEFAULT 1 COMMENT '1=Tax, 2=Non-Tax',
  `image_path` text DEFAULT NULL,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` int(30) DEFAULT NULL,
  `updated_by` int(30) DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `supplier_id` (`vendor_id`),
  CONSTRAINT `item_list_vendor_fk` FOREIGN KEY (`vendor_id`) REFERENCES `vendor_list` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_list`
--

LOCK TABLES `item_list` WRITE;
/*!40000 ALTER TABLE `item_list` DISABLE KEYS */;
/*!40000 ALTER TABLE `item_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_variants`
--

DROP TABLE IF EXISTS `item_variants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `item_variants` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `item_id` int(30) NOT NULL,
  `name` varchar(250) NOT NULL,
  `price_modifier` float NOT NULL DEFAULT 0,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `item_id` (`item_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_variants`
--

LOCK TABLES `item_variants` WRITE;
/*!40000 ALTER TABLE `item_variants` DISABLE KEYS */;
/*!40000 ALTER TABLE `item_variants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_list`
--

DROP TABLE IF EXISTS `payment_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_list` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `payment_code` varchar(50) NOT NULL,
  `amount` float NOT NULL DEFAULT 0,
  `payment_method` varchar(50) NOT NULL COMMENT 'Cash, Bank, QR, Credit',
  `account_id` int(30) NOT NULL,
  `ref_id` int(30) NOT NULL COMMENT 'sales_id or po_id',
  `type` tinyint(1) NOT NULL COMMENT '1=Sales/Incoming, 2=Purchase/Outgoing, 3=Expenses',
  `remarks` text DEFAULT NULL,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  `created_by` int(30) DEFAULT NULL,
  `updated_by` int(30) DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `account_id` (`account_id`),
  KEY `ref_id` (`ref_id`),
  KEY `type` (`type`),
  KEY `idx_ref_type` (`ref_id`,`type`)
) ENGINE=InnoDB AUTO_INCREMENT=103 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_list`
--

LOCK TABLES `payment_list` WRITE;
/*!40000 ALTER TABLE `payment_list` DISABLE KEYS */;
INSERT INTO `payment_list` VALUES (100,'PAY-0016',600,'Bank qr',5,17,1,'','2026-02-15 22:57:47',NULL,1,NULL,NULL),(101,'PAY-0016',60,'Cash',1,17,1,'','2026-02-15 22:57:47',NULL,1,NULL,NULL),(102,'PAY-0016',1000,'QR Esewa',2,17,1,'','2026-02-15 22:57:47',NULL,1,NULL,NULL);
/*!40000 ALTER TABLE `payment_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `po_items`
--

DROP TABLE IF EXISTS `po_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `po_items` (
  `po_id` int(30) NOT NULL,
  `item_id` int(30) NOT NULL,
  `stock_id` int(30) DEFAULT NULL,
  `quantity` int(30) NOT NULL,
  `price` float NOT NULL DEFAULT 0,
  `cost` decimal(12,2) DEFAULT 0.00 COMMENT 'Unit cost at time of PO',
  `total` float NOT NULL DEFAULT 0,
  KEY `po_id` (`po_id`),
  KEY `item_id` (`item_id`),
  KEY `stock_id` (`stock_id`),
  CONSTRAINT `po_items_ibfk_1` FOREIGN KEY (`po_id`) REFERENCES `purchase_order_list` (`id`) ON DELETE CASCADE,
  CONSTRAINT `po_items_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `item_list` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `po_items`
--

LOCK TABLES `po_items` WRITE;
/*!40000 ALTER TABLE `po_items` DISABLE KEYS */;
INSERT INTO `po_items` VALUES (26,10,84,24,497.92,0.00,11950),(27,10,85,12,997.08,0.00,11965);
/*!40000 ALTER TABLE `po_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_order_list`
--

DROP TABLE IF EXISTS `purchase_order_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `purchase_order_list` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `po_code` varchar(50) NOT NULL,
  `vendor_id` int(30) NOT NULL,
  `amount` float NOT NULL,
  `payment_status` tinyint(1) DEFAULT 0 COMMENT '0=Unpaid, 1=Paid, 2=Partial',
  `paid_amount` float DEFAULT 0,
  `balance` float DEFAULT 0,
  `discount_perc` float NOT NULL DEFAULT 0,
  `discount` float NOT NULL DEFAULT 0,
  `tax_perc` float NOT NULL DEFAULT 0 COMMENT 'VAT percentage applied to purchase',
  `tax` float NOT NULL DEFAULT 0 COMMENT 'VAT amount calculated on purchase',
  `remarks` text NOT NULL,
  `status` tinyint(4) NOT NULL DEFAULT 0 COMMENT '0 = pending, 1 = partially received, 2 =received',
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` int(30) DEFAULT NULL,
  `updated_by` int(30) DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `date_po` date DEFAULT NULL,
  `vendor_invoice_no` varchar(50) DEFAULT NULL COMMENT 'Vendor invoice number for tracking vendor bills',
  PRIMARY KEY (`id`),
  KEY `supplier_id` (`vendor_id`),
  KEY `idx_vendor_invoice_no` (`vendor_invoice_no`),
  CONSTRAINT `purchase_order_list_vendor_fk` FOREIGN KEY (`vendor_id`) REFERENCES `vendor_list` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_order_list`
--

LOCK TABLES `purchase_order_list` WRITE;
/*!40000 ALTER TABLE `purchase_order_list` DISABLE KEYS */;
INSERT INTO `purchase_order_list` VALUES (26,'PUR-0021',4,11950,0,0,0,0,0,0,0,'',0,'2026-02-17 21:02:22','2026-02-17 21:02:22',1,NULL,'::1','2026-02-17',''),(27,'PUR-0001',4,11965,0,0,0,0,0,0,0,'',0,'2026-02-18 17:13:38','2026-02-18 17:13:38',1,NULL,'::1','2026-02-18','');
/*!40000 ALTER TABLE `purchase_order_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `return_list`
--

DROP TABLE IF EXISTS `return_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `return_list` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `return_code` varchar(50) NOT NULL,
  `vendor_id` int(30) NOT NULL,
  `amount` float NOT NULL DEFAULT 0,
  `remarks` text DEFAULT NULL,
  `stock_ids` text NOT NULL,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `supplier_id` (`vendor_id`),
  CONSTRAINT `return_list_vendor_fk` FOREIGN KEY (`vendor_id`) REFERENCES `vendor_list` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `return_list`
--

LOCK TABLES `return_list` WRITE;
/*!40000 ALTER TABLE `return_list` DISABLE KEYS */;
INSERT INTO `return_list` VALUES (1,'R-0001',2,3025,'Sample Issue','16,17','2023-11-03 13:45:53','2023-11-03 13:45:53');
/*!40000 ALTER TABLE `return_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sales_list`
--

DROP TABLE IF EXISTS `sales_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sales_list` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `sales_code` varchar(50) NOT NULL,
  `customer_id` int(30) DEFAULT NULL,
  `payment_terms` text DEFAULT NULL,
  `client` text DEFAULT NULL,
  `amount` float NOT NULL DEFAULT 0,
  `discount` float NOT NULL DEFAULT 0,
  `payment_status` tinyint(1) DEFAULT 0 COMMENT '0=Unpaid, 1=Paid, 2=Partial',
  `paid_amount` float DEFAULT 0,
  `balance` float DEFAULT 0,
  `remarks` text DEFAULT NULL,
  `stock_ids` text NOT NULL,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` int(30) DEFAULT NULL,
  `updated_by` int(30) DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `date_sale` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_customer_id` (`customer_id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sales_list`
--

LOCK TABLES `sales_list` WRITE;
/*!40000 ALTER TABLE `sales_list` DISABLE KEYS */;
INSERT INTO `sales_list` VALUES (17,'SALE-0016',3,'Cash',NULL,6600,0,0,0,0,'test','82','2026-02-17 18:25:52','2026-02-17 18:25:52',1,NULL,'::1',NULL);
/*!40000 ALTER TABLE `sales_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock_list`
--

DROP TABLE IF EXISTS `stock_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stock_list` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `item_id` int(30) NOT NULL,
  `quantity` int(30) NOT NULL,
  `price` float NOT NULL DEFAULT 0,
  `total` float NOT NULL DEFAULT current_timestamp(),
  `average_cost_at_time` decimal(12,2) DEFAULT 0.00,
  `profit` decimal(12,2) DEFAULT 0.00,
  `type` tinyint(1) NOT NULL DEFAULT 1 COMMENT '1=IN , 2=OUT',
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `cost` float DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `stock_list_ibfk_1` FOREIGN KEY (`item_id`) REFERENCES `item_list` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=86 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock_list`
--

LOCK TABLES `stock_list` WRITE;
/*!40000 ALTER TABLE `stock_list` DISABLE KEYS */;
/*!40000 ALTER TABLE `stock_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_info`
--

DROP TABLE IF EXISTS `system_info`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_info` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `meta_field` text NOT NULL,
  `meta_value` text NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_info`
--

LOCK TABLES `system_info` WRITE;
/*!40000 ALTER TABLE `system_info` DISABLE KEYS */;
INSERT INTO `system_info` VALUES (1,'name','MNS Liquor Store'),(6,'short_name','MNS liquors'),(11,'logo','uploads/logo-1635816671.png'),(13,'user_avatar','uploads/user_avatar.jpg'),(14,'cover','uploads/cover-1635816671.png'),(15,'content','Array'),(16,'sales_next','1'),(17,'sales_prefix','SALE'),(18,'po_prefix','PUR'),(19,'po_next','2'),(20,'return_prefix','RET'),(21,'return_next','1'),(22,'expense_prefix','EXP'),(23,'expense_next','1'),(24,'payment_prefix','PAY'),(25,'payment_next','17');
/*!40000 ALTER TABLE `system_info` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_logs`
--

DROP TABLE IF EXISTS `system_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_logs` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `user_id` int(30) NOT NULL,
  `action` text NOT NULL,
  `module` varchar(50) NOT NULL,
  `ref_id` int(30) DEFAULT NULL,
  `old_data` text DEFAULT NULL,
  `new_data` text DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=124 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_logs`
--

LOCK TABLES `system_logs` WRITE;
/*!40000 ALTER TABLE `system_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaction_list`
--

DROP TABLE IF EXISTS `transaction_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transaction_list` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `trans_code` varchar(50) NOT NULL,
  `account_id` int(30) NOT NULL,
  `type` tinyint(1) NOT NULL COMMENT '1=Income, 2=Expense',
  `amount` float NOT NULL DEFAULT 0,
  `remarks` text DEFAULT NULL,
  `ref_id` int(30) DEFAULT NULL COMMENT 'sales_id or po_id',
  `ref_table` varchar(50) DEFAULT NULL COMMENT 'sales_list or purchase_order_list',
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `account_id` (`account_id`)
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaction_list`
--

LOCK TABLES `transaction_list` WRITE;
/*!40000 ALTER TABLE `transaction_list` DISABLE KEYS */;
INSERT INTO `transaction_list` VALUES (50,'PAY-0016',5,1,600,'',100,'payment_list','2026-02-15 22:57:47'),(51,'PAY-0016',1,1,60,'',101,'payment_list','2026-02-15 22:57:47'),(52,'PAY-0016',2,1,1000,'',102,'payment_list','2026-02-15 22:57:47');
/*!40000 ALTER TABLE `transaction_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_meta`
--

DROP TABLE IF EXISTS `user_meta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_meta` (
  `user_id` int(30) NOT NULL,
  `meta_field` text NOT NULL,
  `meta_value` text NOT NULL,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  KEY `user_id` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_meta`
--

LOCK TABLES `user_meta` WRITE;
/*!40000 ALTER TABLE `user_meta` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_meta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(50) NOT NULL AUTO_INCREMENT,
  `firstname` varchar(250) NOT NULL,
  `middlename` text DEFAULT NULL,
  `lastname` varchar(250) NOT NULL,
  `username` text NOT NULL,
  `password` text NOT NULL,
  `avatar` text DEFAULT NULL,
  `last_login` datetime DEFAULT NULL,
  `type` tinyint(1) NOT NULL DEFAULT 0,
  `date_added` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'sanjay',NULL,'poudel','admin','0192023a7bbd73250516f069df18b500','uploads/avatar-1.png?v=1635556826',NULL,1,'2023-01-20 14:02:37','2026-01-31 19:12:15'),(10,'John',NULL,'Smith','jsmith','39ce7e2a8573b41ce73b5ba41617f8f7','uploads/avatar-10.png?v=1635920488',NULL,2,'2023-11-03 14:21:28','2023-11-03 14:21:28'),(11,'Claire',NULL,'Blake','cblake','cd74fae0a3adf459f73bbf187607ccea','uploads/avatar-11.png?v=1635920566',NULL,1,'2023-11-03 14:22:46','2023-11-03 14:22:46');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendor_list`
--

DROP TABLE IF EXISTS `vendor_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vendor_list` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `name` text NOT NULL,
  `address` text NOT NULL,
  `cperson` text NOT NULL,
  `contact` text NOT NULL,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` int(30) DEFAULT NULL,
  `updated_by` int(30) DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendor_list`
--

LOCK TABLES `vendor_list` WRITE;
/*!40000 ALTER TABLE `vendor_list` DISABLE KEYS */;
/*!40000 ALTER TABLE `vendor_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `whatsapp_logs`
--

DROP TABLE IF EXISTS `whatsapp_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `whatsapp_logs` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `customer_id` int(30) DEFAULT NULL,
  `vendor_id` int(30) DEFAULT NULL,
  `message` text NOT NULL,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `whatsapp_logs`
--

LOCK TABLES `whatsapp_logs` WRITE;
/*!40000 ALTER TABLE `whatsapp_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `whatsapp_logs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-21 17:28:24
