-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: sms_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `account_list`
--

DROP TABLE IF EXISTS `account_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `account_list` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `name` varchar(250) NOT NULL,
  `description` text DEFAULT NULL,
  `type` tinyint(1) NOT NULL DEFAULT 1 COMMENT '1=Cash,2=Bank,3=Mobile,4=Credit',
  `balance` float NOT NULL DEFAULT 0,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  `created_by` int(30) DEFAULT NULL,
  `updated_by` int(30) DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `name` (`name`),
  KEY `type` (`type`),
  KEY `status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_list`
--

LOCK TABLES `account_list` WRITE;
/*!40000 ALTER TABLE `account_list` DISABLE KEYS */;
INSERT INTO `account_list` VALUES (13,'Cash','',1,123913,1,'2026-03-17 18:34:17','2026-03-20 18:06:13',NULL,1,'::1'),(15,'Esewa','Esewa qr 9841487653',3,13660,1,'2026-03-17 18:34:17','2026-03-20 17:06:46',NULL,1,'::1');
/*!40000 ALTER TABLE `account_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cash_denominations`
--

DROP TABLE IF EXISTS `cash_denominations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cash_denominations` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `cd_code` varchar(50) DEFAULT NULL,
  `date` date NOT NULL,
  `denominations` text DEFAULT NULL COMMENT 'JSON: {1000:2, 500:5, ...}',
  `total_amount` float NOT NULL DEFAULT 0,
  `account_balances` text DEFAULT NULL COMMENT 'JSON: {account_id: actual_balance, ...}',
  `expected_amount` float NOT NULL DEFAULT 0,
  `difference` float NOT NULL DEFAULT 0,
  `reconciliation_status` tinyint(1) NOT NULL DEFAULT 0 COMMENT '0=Draft,1=Finalized',
  `finalized_at` datetime DEFAULT NULL,
  `created_by` int(30) DEFAULT NULL,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `date` (`date`),
  KEY `cd_code` (`cd_code`),
  KEY `reconciliation_status` (`reconciliation_status`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cash_denominations`
--

LOCK TABLES `cash_denominations` WRITE;
/*!40000 ALTER TABLE `cash_denominations` DISABLE KEYS */;
/*!40000 ALTER TABLE `cash_denominations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `category_list`
--

DROP TABLE IF EXISTS `category_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `category_list` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `name` varchar(250) NOT NULL,
  `description` text DEFAULT NULL,
  `status` tinyint(1) NOT NULL DEFAULT 1 COMMENT '1=Active,0=Inactive',
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  `created_by` int(30) DEFAULT NULL,
  `updated_by` int(30) DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `name` (`name`),
  KEY `status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=79 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `category_list`
--

LOCK TABLES `category_list` WRITE;
/*!40000 ALTER TABLE `category_list` DISABLE KEYS */;
/*!40000 ALTER TABLE `category_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_account_balances`
--

DROP TABLE IF EXISTS `daily_account_balances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `daily_account_balances` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `account_id` int(30) NOT NULL,
  `balance_date` date NOT NULL,
  `balance` float NOT NULL DEFAULT 0,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `account_id` (`account_id`),
  KEY `balance_date` (`balance_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_account_balances`
--

LOCK TABLES `daily_account_balances` WRITE;
/*!40000 ALTER TABLE `daily_account_balances` DISABLE KEYS */;
/*!40000 ALTER TABLE `daily_account_balances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entity_list`
--

DROP TABLE IF EXISTS `entity_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `entity_list` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `entity_type` varchar(50) NOT NULL COMMENT 'Customer, Supplier, User',
  `display_name` varchar(250) NOT NULL,
  `firstname` varchar(250) DEFAULT NULL,
  `middlename` text DEFAULT NULL,
  `lastname` varchar(250) DEFAULT NULL,
  `username` text DEFAULT NULL,
  `role_id` tinyint(1) NOT NULL DEFAULT 0 COMMENT '1=Admin, 2=Staff',
  `avatar` text DEFAULT NULL,
  `password` text DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `contact` varchar(100) DEFAULT NULL,
  `alternate_contact` varchar(100) DEFAULT NULL,
  `tax_id` varchar(100) DEFAULT NULL,
  `excise_license_no` varchar(100) DEFAULT NULL,
  `cperson` varchar(250) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `state` varchar(100) DEFAULT NULL,
  `credit_limit` float NOT NULL DEFAULT 0,
  `credit_days` int(10) NOT NULL DEFAULT 0,
  `opening_balance` float NOT NULL DEFAULT 0,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `entity_type` (`entity_type`),
  KEY `display_name` (`display_name`),
  KEY `email` (`email`),
  KEY `contact` (`contact`),
  KEY `status` (`status`),
  KEY `display_name_2` (`display_name`),
  KEY `contact_2` (`contact`),
  KEY `tax_id` (`tax_id`)
) ENGINE=InnoDB AUTO_INCREMENT=172 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entity_list`
--

LOCK TABLES `entity_list` WRITE;
/*!40000 ALTER TABLE `entity_list` DISABLE KEYS */;
/*!40000 ALTER TABLE `entity_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_list`
--

DROP TABLE IF EXISTS `item_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `item_list` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `category_id` int(30) DEFAULT NULL,
  `vendor_id` int(30) DEFAULT NULL,
  `unit` varchar(50) DEFAULT NULL,
  `cost` float NOT NULL DEFAULT 0,
  `selling_price` float NOT NULL DEFAULT 0,
  `mrp` float NOT NULL DEFAULT 0,
  `opening_cost` float NOT NULL DEFAULT 0,
  `average_cost` float NOT NULL DEFAULT 0,
  `reorder_level` float NOT NULL DEFAULT 0,
  `tax_type` tinyint(1) NOT NULL DEFAULT 1 COMMENT '1=Taxable,0=Non-Taxable',
  `quantity` float NOT NULL DEFAULT 0,
  `image_path` text DEFAULT NULL,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `category_id` (`category_id`),
  KEY `vendor_id` (`vendor_id`),
  KEY `name` (`name`),
  KEY `status` (`status`),
  KEY `name_2` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=289 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_list`
--

LOCK TABLES `item_list` WRITE;
/*!40000 ALTER TABLE `item_list` DISABLE KEYS */;
/*!40000 ALTER TABLE `item_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reference_code_settings`
--

DROP TABLE IF EXISTS `reference_code_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reference_code_settings` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `transaction_type` varchar(50) NOT NULL,
  `display_name` varchar(100) NOT NULL,
  `prefix` varchar(20) DEFAULT '',
  `suffix` varchar(20) DEFAULT '',
  `padding` int(10) NOT NULL DEFAULT 4,
  `current_number` int(30) NOT NULL DEFAULT 0,
  `next_number` int(30) NOT NULL DEFAULT 1,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `transaction_type` (`transaction_type`),
  KEY `status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reference_code_settings`
--

LOCK TABLES `reference_code_settings` WRITE;
/*!40000 ALTER TABLE `reference_code_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `reference_code_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `search_index`
--

DROP TABLE IF EXISTS `search_index`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `search_index` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `source_table` varchar(50) NOT NULL,
  `source_id` int(11) NOT NULL,
  `type` varchar(50) NOT NULL,
  `title` varchar(255) NOT NULL,
  `subtitle` varchar(255) DEFAULT NULL,
  `search_data` text NOT NULL,
  `amount` decimal(15,2) DEFAULT 0.00,
  `transaction_date` date DEFAULT NULL,
  `view_url` varchar(255) DEFAULT NULL,
  `edit_url` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_source` (`source_table`,`source_id`),
  FULLTEXT KEY `search_content` (`title`,`subtitle`,`search_data`),
  FULLTEXT KEY `all_searchable` (`title`,`subtitle`,`search_data`)
) ENGINE=InnoDB AUTO_INCREMENT=147 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `search_index`
--

LOCK TABLES `search_index` WRITE;
/*!40000 ALTER TABLE `search_index` DISABLE KEYS */;
/*!40000 ALTER TABLE `search_index` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `summary_daily_metrics`
--

DROP TABLE IF EXISTS `summary_daily_metrics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `summary_daily_metrics` (
  `metric_date` date NOT NULL,
  `total_sales` decimal(15,2) DEFAULT 0.00,
  `total_purchases` decimal(15,2) DEFAULT 0.00,
  `total_expenses` decimal(15,2) DEFAULT 0.00,
  `total_discount` decimal(15,2) DEFAULT 0.00,
  `total_cogs` decimal(15,2) DEFAULT 0.00,
  `net_profit` decimal(15,2) DEFAULT 0.00,
  `last_updated` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`metric_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `summary_daily_metrics`
--

LOCK TABLES `summary_daily_metrics` WRITE;
/*!40000 ALTER TABLE `summary_daily_metrics` DISABLE KEYS */;
/*!40000 ALTER TABLE `summary_daily_metrics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `summary_monthly_metrics`
--

DROP TABLE IF EXISTS `summary_monthly_metrics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `summary_monthly_metrics` (
  `metric_year` int(11) NOT NULL,
  `metric_month` int(11) NOT NULL,
  `total_sales` decimal(15,2) DEFAULT 0.00,
  `total_purchases` decimal(15,2) DEFAULT 0.00,
  `total_expenses` decimal(15,2) DEFAULT 0.00,
  `total_discount` decimal(15,2) DEFAULT 0.00,
  `total_cogs` decimal(15,2) DEFAULT 0.00,
  `net_profit` decimal(15,2) DEFAULT 0.00,
  `last_updated` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`metric_year`,`metric_month`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `summary_monthly_metrics`
--

LOCK TABLES `summary_monthly_metrics` WRITE;
/*!40000 ALTER TABLE `summary_monthly_metrics` DISABLE KEYS */;
INSERT INTO `summary_monthly_metrics` VALUES (2026,3,373543.00,861086.00,46132.00,0.00,236789.74,90621.26,'2026-03-20 13:09:25');
/*!40000 ALTER TABLE `summary_monthly_metrics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_info`
--

DROP TABLE IF EXISTS `system_info`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_info` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `meta_field` text NOT NULL,
  `meta_value` text NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_info`
--

LOCK TABLES `system_info` WRITE;
/*!40000 ALTER TABLE `system_info` DISABLE KEYS */;
INSERT INTO `system_info` VALUES (1,'name','MNS Liquor Store'),(2,'short_name','MNS'),(3,'logo','uploads/logo.png'),(4,'user_avatar','uploads/user_avatar.jpg'),(5,'cover','uploads/cover.png'),(6,'content',''),(7,'address','Gokarneshwor 9,\r\nKathmandu Nepal'),(8,'contact','9801987220'),(9,'pan_no','123456789'),(10,'email','mnsliquors@gmail.com'),(11,'print_title','Tax Invoice'),(12,'print_logo_show','0'),(13,'print_header_cols','2'),(14,'print_remarks_pos','above'),(15,'print_footer_text','Page 1 of 1');
/*!40000 ALTER TABLE `system_info` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_logs`
--

DROP TABLE IF EXISTS `system_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_logs` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `user_id` int(30) NOT NULL,
  `action` text NOT NULL,
  `module` varchar(255) NOT NULL,
  `ref_id` varchar(100) NOT NULL,
  `old_data` text DEFAULT NULL,
  `new_data` text DEFAULT NULL,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `module` (`module`),
  KEY `ref_id` (`ref_id`)
) ENGINE=InnoDB AUTO_INCREMENT=727 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_logs`
--

LOCK TABLES `system_logs` WRITE;
/*!40000 ALTER TABLE `system_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaction_items`
--

DROP TABLE IF EXISTS `transaction_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transaction_items` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `transaction_id` int(30) NOT NULL,
  `item_id` int(30) NOT NULL,
  `quantity` float NOT NULL DEFAULT 0,
  `unit_price` float NOT NULL DEFAULT 0,
  `mrp` float NOT NULL DEFAULT 0,
  `cost_price` float NOT NULL DEFAULT 0,
  `total_price` float NOT NULL DEFAULT 0,
  `profit` float NOT NULL DEFAULT 0,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `transaction_id` (`transaction_id`),
  KEY `item_id` (`item_id`)
) ENGINE=InnoDB AUTO_INCREMENT=172 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaction_items`
--

LOCK TABLES `transaction_items` WRITE;
/*!40000 ALTER TABLE `transaction_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaction_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaction_list`
--

DROP TABLE IF EXISTS `transaction_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transaction_list` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `trans_code` varchar(100) DEFAULT NULL,
  `ref_table` varchar(100) NOT NULL,
  `ref_id` int(30) NOT NULL,
  `account_id` int(30) NOT NULL,
  `amount` float NOT NULL DEFAULT 0,
  `remarks` text DEFAULT NULL,
  `type` tinyint(1) NOT NULL DEFAULT 1 COMMENT '1=Credit,2=Debit',
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `ref_id` (`ref_id`),
  KEY `account_id` (`account_id`),
  KEY `ref_table` (`ref_table`,`ref_id`),
  KEY `type` (`type`)
) ENGINE=InnoDB AUTO_INCREMENT=76 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaction_list`
--

LOCK TABLES `transaction_list` WRITE;
/*!40000 ALTER TABLE `transaction_list` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaction_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transactions`
--

DROP TABLE IF EXISTS `transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transactions` (
  `id` int(30) NOT NULL AUTO_INCREMENT,
  `reference_code` varchar(100) DEFAULT NULL,
  `type` varchar(50) NOT NULL COMMENT 'sale, purchase, expense, payment, return, adjustment, opening_balance, opening_stock',
  `entity_type` varchar(50) DEFAULT NULL,
  `entity_id` int(30) DEFAULT NULL COMMENT 'FK to entity_list (customer or supplier)',
  `account_id` int(30) DEFAULT NULL COMMENT 'FK to account_list (payment account)',
  `parent_id` int(30) DEFAULT NULL COMMENT 'For payments and returns, references parent transaction',
  `total_amount` float NOT NULL DEFAULT 0,
  `discount_perc` float NOT NULL DEFAULT 0,
  `discount` float NOT NULL DEFAULT 0,
  `tax_perc` float NOT NULL DEFAULT 0,
  `tax` float NOT NULL DEFAULT 0,
  `payment_terms` varchar(50) DEFAULT 'Cash',
  `remarks` text DEFAULT NULL,
  `status` tinyint(1) NOT NULL DEFAULT 1 COMMENT '0=Pending,1=Active/Paid',
  `transaction_date` date DEFAULT NULL,
  `created_by` int(30) DEFAULT NULL COMMENT 'FK to users.id',
  `updated_by` int(30) DEFAULT NULL,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `entity_id` (`entity_id`),
  KEY `account_id` (`account_id`),
  KEY `parent_id` (`parent_id`),
  KEY `type` (`type`),
  KEY `transaction_date` (`transaction_date`),
  KEY `reference_code` (`reference_code`),
  KEY `status` (`status`),
  KEY `created_by` (`created_by`),
  KEY `reference_code_2` (`reference_code`)
) ENGINE=InnoDB AUTO_INCREMENT=154 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactions`
--

LOCK TABLES `transactions` WRITE;
/*!40000 ALTER TABLE `transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_meta`
--

DROP TABLE IF EXISTS `user_meta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_meta` (
  `user_id` int(30) NOT NULL,
  `meta_field` varchar(255) NOT NULL,
  `meta_value` text NOT NULL,
  `date_created` datetime NOT NULL DEFAULT current_timestamp(),
  KEY `user_id` (`user_id`),
  KEY `user_id_2` (`user_id`,`meta_field`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_meta`
--

LOCK TABLES `user_meta` WRITE;
/*!40000 ALTER TABLE `user_meta` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_meta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(50) NOT NULL AUTO_INCREMENT,
  `firstname` varchar(250) NOT NULL,
  `middlename` text DEFAULT NULL,
  `lastname` varchar(250) NOT NULL,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `avatar` text DEFAULT NULL,
  `last_login` datetime DEFAULT NULL,
  `type` tinyint(1) NOT NULL DEFAULT 0 COMMENT '1=Admin, 2=Staff',
  `date_added` datetime NOT NULL DEFAULT current_timestamp(),
  `date_updated` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Administrator',NULL,'Admin','admin','0192023a7bbd73250516f069df18b500','uploads/avatar-1.png',NULL,1,'2024-01-01 08:00:00','2026-03-13 13:12:29'),(2,'John',NULL,'Smith','jsmith','0192023a7bbd73250516f069df18b500','uploads/avatar-2.png',NULL,2,'2024-01-02 09:00:00','2026-03-13 13:12:29'),(3,'Claire',NULL,'Blake','cblake','0192023a7bbd73250516f069df18b500','uploads/avatar-3.png',NULL,1,'2024-01-03 09:30:00','2026-03-13 13:12:29');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-20 19:35:06
